In [1]:
import pandas as pd
from collections import Counter
orgdata = pd.read_csv("Spot4.csv")
orgdata.head()

,Name,Town,Description,seg
0,桃園火車站前商圈,桃園區,從銅板小吃到品牌名店，琳瑯滿目的美食就要躁動你的味蕾，接著以統領百貨為中心瘋狂採買，用新台幣...,"['銅板', '琳瑯', '躁動', '接著', '以統', '領百貨', '瘋狂', '採..."
1,桃園忠烈祠暨神社文化園區,桃園區,請一同參與這場全台獨存的日本神社上演的穿越劇：沿著參道，緩步行經鳥居、手水舍直至本殿，典雅肅...,"['參與', '這場', '獨存', '沿著', '參道', '經鳥', '手水舍', '本..."
2,景福宮,桃園區,歷經歲月洗鍊的百年宮廟是地方上的信仰中心，每年開漳聖王聖誕、祈福建醮，全城鑼鼓喧闐，猶如一場...,"['歷經', '宮廟', '開漳聖', '王聖誕', '建醮', '鑼鼓', '喧闐', '..."
3,奧爾森林學堂,桃園區,咻！坐上長長的溜滑梯，化身小飛俠乘風飛翔，好涼快又好開心，接著去空中樹屋拜訪松鼠先生、貓頭鷹...,"['溜滑梯', '小飛俠', '乘風', '飛翔', '好涼', '開心', '接著', '..."
4,角板山行館,復興區,不管是帶有神秘色彩的戰備隧道或是記錄蔣家日常的行館，都令人充滿十足想像，凜冬時節，園中櫻梅盛...,"['戰備', '記錄', '蔣家', '行館', '充滿', '凜冬', '時節', '園中..."

In [2]:
subdata = orgdata[['Name', 'Town', 'seg']]

In [ ]:
output_series = subdata.groupby(['Town'])['seg'].apply(lambda x: ','.join(x)).reset_index()

In [ ]:
output_series['seg'] = output_series['seg'].str.replace("', '", " ")
output_series

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

docs = output_series['seg'].tolist()
vec = CountVectorizer()
X = vec.fit_transform(docs)
df = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
df

In [ ]:
coocc = df.T.dot(df)
coocc

In [ ]:
import plotly.express as px
px.imshow(coocc)

In [ ]:
result = coocc.values.flatten()

In [ ]:
fig = px.histogram(result)
fig.show()

In [ ]:
import numpy as np

filter_num = 50
getid = coocc.index
important = pd.DataFrame(columns = getid).T
important['relation'] = ""
subcoocc = coocc
dropid = []

for i in range(len(coocc)):
    result = coocc[coocc.iloc[i] > filter_num].index.tolist()    
    if(len(result) > 0):
        important['relation'].loc[getid[i]] = coocc[coocc.iloc[i] > filter_num].index.tolist()
    else:
        dropid.append(i)
        important = important.drop([getid[i]])
        subcoocc = subcoocc.drop([getid[i]])

In [ ]:
subcoocc

In [ ]:
subcoocc.columns[dropid]

In [ ]:
subcoocc.drop(subcoocc.columns[dropid], axis=1, inplace=True)
subcoocc