In [5]:
#比較不同性別與最喜歡喝的飲料種類
#統計學的作業想要探討不同性別和喜歡喝的飲料種類是否差異很大
#因此請師大將近120位同學幫忙填了表單
#藉此來完成這次的作業！
import pandas as pd
data = pd.read_csv("Survey.csv")
print(data)

     您的年級 您的性別 最喜歡喝的飲料種類
0      大一  生理女        奶類
1      大一  生理女        奶類
2      大一  生理女      一般茶類
3      大一  生理女      鮮果茶類
4      大二  生理女        奶類
..    ...  ...       ...
114    大一  生理男        奶類
115    大二  生理男      鮮果茶類
116  大五以上  生理男      一般茶類
117    大一  生理男      一般茶類
118    大一  生理女        奶類

[119 rows x 3 columns]

In [26]:
#總數
gender = list(data["您的性別"])
print("總共人數:", len(data))

總共人數: 119

In [9]:
#試印出單一類別的資訊
print(data["您的性別"])

0      生理女
1      生理女
2      生理女
3      生理女
4      生理女
      ...
114    生理男
115    生理男
116    生理男
117    生理男
118    生理女
Name: 您的性別, Length: 119, dtype: object

In [11]:
#試印出每位女生最喜歡喝的飲料種類
girl = data[data['您的性別'].str.contains("生理女")]
girl.tail(4)

    您的年級 您的性別 最喜歡喝的飲料種類
62    大一  生理女      一般茶類
63    大一  生理女        奶類
64    大三  生理女        奶類
118   大一  生理女        奶類

In [12]:
#試印出最喜歡喝的飲料種類為一般茶類的人
tea = data[data['最喜歡喝的飲料種類'].str.contains("一般茶類")]
tea.tail(4)

     您的年級 您的性別 最喜歡喝的飲料種類
108    大一  生理男      一般茶類
112    大一  生理男      一般茶類
116  大五以上  生理男      一般茶類
117    大一  生理男      一般茶類

In [12]:
#將上述兩個資料及進行比較
#交集intersection(生理女 且 最喜歡喝一般茶類)
intersection = data[(data["您的性別"]=="生理女") & (data["最喜歡喝的飲料種類"] == "一般茶類")]
#印出結果中的五個
intersection.head(5)

   您的年級 您的性別 最喜歡喝的飲料種類
2    大一  生理女      一般茶類
5    大一  生理女      一般茶類
8    大一  生理女      一般茶類
9    大一  生理女      一般茶類
13   大一  生理女      一般茶類

In [15]:
#聯集union (生理女 或 最喜歡一般茶類)
union = data[(data["您的性別"]=="生理女") | (data["最喜歡喝的飲料種類"] == "一般茶類")]
#印出結果中的五個
union.tail(5)

     您的年級 您的性別 最喜歡喝的飲料種類
108    大一  生理男      一般茶類
112    大一  生理男      一般茶類
116  大五以上  生理男      一般茶類
117    大一  生理男      一般茶類
118    大一  生理女        奶類

In [29]:
#差集difference (生理女 但不是 最喜歡一般茶類)
data[(data["您的性別"]=="生理女") & (data["最喜歡喝的飲料種類"] != "一般茶類") ]
#印出結果中的五個
difference.head(5)

  您的年級 您的性別 最喜歡喝的飲料種類
0   大一  生理女        奶類
1   大一  生理女        奶類
3   大一  生理女      鮮果茶類
4   大二  生理女        奶類
6   大一  生理女       咖啡類

In [18]:
#對稱差集symmetric_difference
#生理女 但 最喜歡不是茶類
#最喜歡茶類 但 生理男
symmetric_difference = data[(data["您的性別"]=="生理女") ^ (data["最喜歡喝的飲料種類"] == "一般茶類")]
#印出結果中的五個
symmetric_difference.tail(5)

     您的年級 您的性別 最喜歡喝的飲料種類
108    大一  生理男      一般茶類
112    大一  生理男      一般茶類
116  大五以上  生理男      一般茶類
117    大一  生理男      一般茶類
118    大一  生理女        奶類